<% include ../partials/header %>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">E-Libray</p>
                <div class="list-group">
                    <a href="">
                        <li class="list-group-item active">Read</li>
                    </a>
                    <a href="/views/books/audiobook.ejs">
                        <li class="list-group-item">Listen</li>
                    </a>
                    <a href="">
                        <li class="list-group-item">Buy</li>
                    </a>
                    <a href="">
                        <li class="list-group-item">hola</li>
                    </a>

                </div>
            </div>
            <div class="col-md-9">
                <div class="thumbnail">
                    <img class="img-responsive" alt="Responsive image" src="<%= Book.image %>">
                    <hr>
                    <div class="caption-full">
                        <h4 class="float-right">$
                            <%=Book.price%>
                        </h4>
                        <h4>
                            <a href="">
                                <%=Book.name%>
                            </a>
                        </h4>
                        <p>
                            <%= Book.description %>
                        </p>
                        <p>
                            <em>Submited By <%= Book.author.username %> - <%=moment(Book.createdAt).fromNow()%></em>
                        </p>
                        <% if(currentUser.isAdmin){ %>
                            <a class="btn btn-warning" href="/Books/<%=Book._id%>/edit">Edit</a>
                            <form id="delete-form" action="/Books/<%=Book._id%>?_method=delete" method="POST">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                            <% } %>


                    </div>
                    <div class="well">
                        <div class="text-right">
                            <p>
                                <a class="btn btn-success" href="/Books/<%= Book._id %>/comments/new">Add New Comment</a>
                            </p>
                        </div>
                        <hr>
                        <% Book.comments.forEach(function(comment){ %>
                            <div class="row">
                                <div class="col-md-12">
                                    <strong><%= comment.author.username %></strong>
                                    <span class="float-right"><%= moment(comment.createdAt).fromNow()%></span>
                                    <p>
                                        <%= comment.text %>
                                    </p>
                                    <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                                        <a class="btn btn-xs btn-warning" href="/Books/<%= Book._id %>/comments/<%= comment._id %>/edit"> Edit
                            </a>
                                        <form id="delete-form" action="/Books/<%= Book._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                            <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                                        </form>
                                        <% } %>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                </div>

            </div>
        </div>

    </div>

    </div>

    <% include ../partials/footer %>